<div class="container">
    <div> 
        <input type="name" placeholder="ФИО" />
        <!-- валидный ввод данных: текст -->
    </div>
    <div>
        <input type="email" placeholder="Почта" />
        <!-- валидный ввод данных: email -->
    </div>
    <p>Адрес:</p>
    <div>
        <input type="street" placeholder="Улица" />
        <!-- валидный ввод данных: текст -->
    </div>
    <div>
        <input type="suite" placeholder="Дом" />
        <!-- валидный ввод данных: текст -->
    </div>
    <div>
        <input type="city" placeholder="Город" />
        <!-- валидный ввод данных: текст -->
    </div>
    <div>
        <input type="zipcode" placeholder="Индекс" />
        <!-- валидный ввод данных: 123456 первый символ не ноль -->
    </div>
    <div>
        <input type="phone" placeholder="Телефон" />
        <!-- валидный ввод данных: +7 (123) 123-12-12 -->
    </div>
    <div>
        <input type="website" placeholder="Вебсайт" />
        <!-- валидный ввод данных: текст с минимум одной точкой и 
            протоколом вида http(s):// -->
    </div>
    <div>
        <span>"company.name"</span>
        <input type="company.name" placeholder="Место работы" />
        <!-- валидный ввод данных: текст -->
    </div>
</div>

